//< " ПОДКЛЮЧАЕМ ФАЙЛ С ШРИФТАМИ " >=============================================================================================================>//

@font-face {
  font-family: "Monserrat";
  src: url("@/assets/fonts/Montserrat-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url("@/assets/fonts/Montserrat-Bold.ttf") format("TrueType");
  font-weight: bold;
  font-style: normal;
}
// 01

// 02

// 03
