//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
// РАЗМЕР ПОЛОТНА
$maxWidth: 2000;
// ВЫСОТА ПОЛОТНА
$maxHeight: 1080;
// РАЗМЕР КОНТЕЙНЕРА
$maxWidthContainer: 1500;

$containerPadding: 30;

// ЦВЕТА
$colorWhite: #fff;
$colorDark: #000;
$colorSkyBlue: #18f7ef;
$colorBlue: #3624ea;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #333;
$fontFamily: Monserrat;
